@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #667BC6;
  --primary: #FDFFD2;
  --secondary: #FFB4C2;
  --accent: #FFB4C2;
}

body {
  color: black;
  background: var(--background);
}
